{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>{% block pagetitle %}To Do{% endblock pagetitle %}</title>

        {% block meta %}
        {% endblock meta %}

        {% block styles %}
        {% endblock styles %}

        {% block extrastyles %}
        {% endblock extrastyles %}
    </head>
    <body>
        {% block layout %}
        {% endblock layout %}

        {% block scripts %}
        {% endblock scripts %}

        {% block extrascripts %}
        {% endblock extrascripts %}
    </body>
</html>